/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0e291b;
}

.hero-header {
  background: url("../images/hero-bg.jpg") center/cover no-repeat;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #143424;
}

.nav-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background: #385644;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ff6600;
}

/* Hero Content */
.hero-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 0.5em;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 1.5em;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

.hero-content-buttons {
    list-style: none;
    display: flex;
    gap: 40px;
}

.register-now {
  background-color: #ff6600;
  color: white;
  padding: 12px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease;
}

.register-now:hover {
  background-color: #cc5200;
}

.btn-regular {
  background-color: #ffae00;
  color: white;
  padding: 12px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease;
}

.btn-regular:hover {
  background-color: #cc5200;
}

/* Responsive */



/* Mobile phones (up to 480px) */
@media (max-width: 480px) {
    /* Mobile styles */



}

/* Tablets (481px to 1024px) */
@media (min-width: 481px) and (max-width: 1024px) {
    .navbar {
        padding: 15px 20px;
    }

    .nav-links {
        gap: 15px;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }
}

/* Desktops (1025px and up) */
@media (min-width: 1025px) {
    /* Desktop styles */



}
